@import '../../styles/variables';

.table {
  border: 1px solid $color-border;
  border-radius: 5px;
  border-spacing: 0;
  box-shadow: $box-shadow;

  tbody tr:nth-child(2n) {
    background-color: $color-button;
  }

  tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
  }

  tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
  }
}
