@import '../../../styles/variables';
@import '../../../styles/mixins';

.control {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 15px 15px 0;

  &__text {
    font-size: 1.125em;
    font-weight: bold;

    &_accent {
      font-size: 2em;
    }
  }

  &__button {
    @include button;
    min-width: 80px;
    transition: opacity ease 0.3s;
    font-weight: bold;

    &:hover {
      opacity: 0.7;
    }

    &_sell {
      background-color: $color-sell;
    }

    &_buy {
      background-color: $color-buy;
    }
  }
}
