@import '../../styles/variables';

.ticker {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  border: 1px solid $color-border-dark;
  border-radius: 5px;
  box-shadow: $box-shadow;
}

.controls-wrapper {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.control-separator {
  height: 110px;
  border: 1px solid $color-border;
  align-self: stretch;
}
