$mobile-s: 370px;
$mobile: 425px;
$tablet-s: 570px;
$tablet: 768px;
$desktop-s: 1024px;
$desktop-l: 1440px;

$color-border: #c9c9c9;
$color-border-dark: #8a8a8a;
$color-dropdown: #ffffff;
$color-main: #ef3f00;
$color-background-hover: #f9f9f9;

$box-shadow: 0 0 10px rgba(200, 200, 200, 0.2);
